.u-section-1 {
  min-height: 990px;
}

.u-section-1 .u-sheet-1 {
  min-height: 990px;
}

.u-section-1 .u-shape-1 {
  width: 215px;
  height: 189px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 132px auto 0 210px;
}

.u-section-1 .u-image-1 {
  width: 432px;
  height: 276px;
  animation-duration: 1000ms;
  margin: -290px auto 0 -20px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: -294px 12px 0 668px;
}

.u-section-1 .u-shape-2 {
  width: 287px;
  height: 232px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 155px 54px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 488px;
  height: 325px;
  animation-duration: 1000ms;
  margin: -344px 72px 0 auto;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: -107px 715px 0 42px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: -33px 128px 0 auto;
  padding: 19px 73px 21px 72px;
}

.u-section-1 .u-icon-1 {
  animation-duration: 1000ms;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: -34px auto 60px 162px;
  padding: 21px 28px 21px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 480px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 557px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 61px;
    padding-right: 61px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 260px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 337px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 832px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 125px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 217px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -235px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 53px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -8px;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 852px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  margin: 128px 82px 0;
}

.u-section-2 .u-list-1 {
  width: 976px;
  margin: 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 351px;
  grid-gap: 27px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 40px;
}

.u-section-2 .u-image-1 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 7px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 38px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 40px;
}

.u-section-2 .u-image-2 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 7px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 38px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 40px;
}

.u-section-2 .u-image-3 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 7px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 38px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 338px;
  }

  .u-section-2 .u-image-1 {
    height: 218px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 218px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 218px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 777px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 255px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 255px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 255px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 414px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 414px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 414px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 276px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 276px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 276px;
    margin-left: initial;
  }
}