.u-section-1 .u-sheet-1 {
  min-height: 759px;
}

.u-section-1 .u-shape-1 {
  width: 335px;
  height: 264px;
  background-image: none;
  margin: 329px 12px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 224px;
  height: 199px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -458px auto 0 268px;
}

.u-section-1 .u-image-1 {
  width: 432px;
  height: 276px;
  animation-duration: 1000ms;
  margin: -300px auto 0 32px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 36px 648px 0 32px;
}

.u-section-1 .u-form-1 {
  height: 313px;
  margin: -457px 28px 0 542px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-image-2 {
  width: 488px;
  height: 325px;
  margin: 30px 28px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -419px 225px 60px auto;
  padding: 19px 57px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 274px;
    height: 197px;
    margin-top: 537px;
    margin-right: -19px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -603px;
  }

  .u-section-1 .u-image-1 {
    height: 277px;
    margin-top: -303px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-right: 530px;
  }

  .u-section-1 .u-form-1 {
    height: 238px;
    margin-top: -482px;
    margin-right: 0;
    margin-left: 504px;
  }

  .u-section-1 .u-image-2 {
    width: 410px;
    height: 268px;
    margin-top: 233px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -569px;
    margin-right: 131px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-top: 400px;
  }

  .u-section-1 .u-shape-2 {
    width: 336px;
    height: 211px;
    margin-top: -515px;
    margin-left: 43px;
  }

  .u-section-1 .u-image-1 {
    width: 397px;
    height: 258px;
    margin-top: -281px;
    margin-left: -37px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 44px;
    margin-right: 444px;
    margin-left: 43px;
  }

  .u-section-1 .u-form-1 {
    height: 181px;
    margin-top: -533px;
    margin-left: 389px;
  }

  .u-section-1 .u-image-2 {
    width: 399px;
    margin-top: 72px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -407px;
    margin-right: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 280px;
    height: 193px;
    margin-top: 557px;
    margin-right: 125px;
  }

  .u-section-1 .u-shape-2 {
    width: 282px;
    height: 282px;
    margin-top: -750px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-1 {
    width: 228px;
    height: 245px;
    margin-top: -262px;
    margin-left: -23px;
  }

  .u-section-1 .u-text-1 {
    width: 410px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: -449px;
    margin-right: 9px;
    margin-left: 232px;
  }

  .u-section-1 .u-image-2 {
    width: 314px;
    height: 224px;
    margin-top: 301px;
    margin-right: auto;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -586px;
    margin-right: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-shape-1 {
    width: 252px;
    height: 165px;
    margin-top: 664px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    height: 318px;
    margin-top: -599px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 265px;
    margin-top: -281px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 381px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 356px;
    margin-top: -1031px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 373px;
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -658px;
    margin-right: auto;
  }
}